<!DOCTYPE html>
<html>
  <head>
    <title>Nuestra banda sonora con Marta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Añade tus canciones para su 40 cumpleaños!">
    <meta property="og:image" content="<%= asset_pack_path 'media/images/logo-144.png' %>">
    <link rel="apple-touch-icon" href="<%= asset_pack_path 'media/images/logo-144.png' %>">
    <link rel="shortcut icon" href="<%= asset_pack_path 'media/images/logo.ico' %>">

    <script src="https://apis.google.com/js/api.js"></script>
    <script>
      gapi.load('client', function() {
        gapi.client.setApiKey('AIzaSyCK9oJIgiAJKJIJNExDsxU0ZTaffQcZpEM');
        gapi.client.load('https://content.googleapis.com/discovery/v1/apis/youtube/v3/rest')
                 .then(function() { console.log("GAPI client loaded for API"); },
                       function(err) { console.error("Error loading GAPI client for API", err); })
      })
    </script>

    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
